@charset "utf-8";

// @font-face {
//     font-family: 'SpoqaHanSansNeo-Light';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'SpoqaHanSansNeo-Regular';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'SpoqaHanSansNeo-Medium';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'SpoqaHanSansNeo-Bold';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }


// lib
$max-width: 1200px;
$point-color-pink: #FF4646;
$point-color-blue: #49FFA8;
$point-color-yellow: #FCFF52;

// Normalize
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;

    // custom
    transition: font-size 0.3s, padding 0.3s, margin 0.3s;
}

a,
img {
    display: block;
}

// animation start

@keyframes main-ani {

    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }


}

@keyframes fade-up {
    0% {
        opacity: 0;
        margin-top: 30px;
    }

    20% {
        opacity: 0;
        margin-top: 30px;
    }

    40% {
        opacity: 1;
        margin-top: 0px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }


}

@keyframes fade-up-transform {
    0% {
        opacity: 0;
        transform: translateY(30px);

    }

    20% {
        opacity: 0;
        transform: translateY(30px);
    }

    40% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }


}

@keyframes icon-rotate {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}


@keyframes icon-jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes prev-ani {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes next-ani {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(20px);
    }
}

@keyframes gallery-ani {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes up-down-ani {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes icon-rotate2 {
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

// animation end

// lib start

@mixin link-btn($color, $margin:0px) {
    width: 150px;
    height: 40px;
    font-size: 1.6em;
    border-radius: 7px;
    transform: scale(1);
    transition: transform 0.3s, background 0.3s, color 0.3s;
    margin-right: $margin;
    border: 2px solid $color;
    color: $color;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover {
        transform: scale(0.9);
        color: #030303;
        background-color: $color;
    }
}

.con {
    max-width: $max-width;
    margin: 0 auto;
}

.img-box {
    & img {
        width: 100%;
    }
}

.icon {
    display: inline-block;
}

.underline {
    text-decoration: underline;
}

.normal {
    font-style: normal !important;
}

.section-title {
    font-weight: 900;
    font-size: 5em;
    font-style: italic;
    position: absolute;
    right: 100px;
    bottom: 40px;
    opacity: 0.5;
    color: transparent;
    -webkit-text-stroke: 1px #fff;

    transform: rotate(90deg);
    transform-origin: right bottom;
    // transform: rotate(-90deg);
    white-space: nowrap;



    &::after {
        content: attr(data-section-title);
        display: block;
        position: absolute;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        top: 50px;
        opacity: 0.2;

    }

    &::before {
        content: attr(data-section-title);
        display: block;
        position: absolute;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        top: 100px;
        opacity: 0.1;

    }
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-ai-c {
    align-items: center;

}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-a {
    justify-content: space-around;
}

.flex-jc-b {
    justify-content: space-between;
}

.flex-d-c {
    flex-direction: column;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.no-drag {
    user-select: none;
}



// lib end

// custom start

// fp start

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #fff;
    opacity: 0.5;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    background: $point-color-blue;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip {
    color: $point-color-blue;
    font-weight: 600;
}

#fp-nav ul li:last-child {
    display: none;
    // footer의 navigation이 보이지 않도록
}

// fp end

html,
body {
    font-size: 10px;
    // min-width: 1920px;
    font-family: 'Open Sans', 'Noto Sans CJK KR', sans-serif;
    background: #030303;
    color: #F5F5F5;
    overflow-x: hidden !important;

}


section {
    min-height: 100vh;

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: $point-color-blue;
    border-radius: 3px;

}

::-webkit-scrollbar-track {
    background: #4E4C4C;
}

#main-header {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 40px 50px;
    color: #fff;
    font-size: 2em;

    &>div.logo {
        font-weight: 900;
        opacity: 1;
        transition: color 0.3s;

        &:hover {

            color: $point-color-blue;
        }
    }

    & > .sns-btn{
        position: relative;
        align-self: center;
        // align-items: flex-end;
       padding: 0 20px;
       margin-right: -20px;

        & > div.dot{
            // align-items: flex-end;
            flex-direction: column;
            & > span{
                display: inline-block;
                width: 3px;
                height: 3px;
                background: #fff;
                border-radius: 100%;
                margin-bottom: 3px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        
        & ul.sns {
            
            &>li {
    
                &>a {
                    font-size: 0.8em;
                    padding: 0 10px;
                    opacity: 1;
                    transition: color 0.3s;
    
                    &:hover {
                        color: $point-color-blue;
                    }
                }
            }
    
    
        }
    }

    
}

// main start



#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    overflow: hidden;
}



#main {

    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &>div.fp-tableCell {


        & div.con {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            animation: main-ani 1s ease-in-out 0.5s 1 alternate both;


            //  메인 이미지
            &>div.main-img {
                position: relative;
                width: 30%;
                min-width: 500px;
                max-width: 500px;
                height: auto;
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translateX(-50%) translateY(-55%);
                z-index: 3;
                // box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5)
                opacity: 1;
                transition: min-width 0.3s, opacity 0.5s;


                &:hover {
                    opacity: 0.4;

                }

                &>img {
                    position: relative;

                }
            }

            &>div.title {

                font-size: 7.5em;
                letter-spacing: 0.18em;
                font-style: italic;
                color: #fff;
                white-space: nowrap;
                opacity: 1;
                transition: font-size 0.3s, opacity 0.5s;
                position: absolute;
                top: 55%;
                z-index: 5;



                &>h1 {
                    // 메인 타이틀
                    font-weight: 900;
                    // position: absolute;
                    // z-index: 1;
                    // top: 55%;
                    // left: 50%;
                    // transform: translateX(-50%) translateY(0%);
                    // visibility: hidden;

                    // &>span.visible {
                    //     visibility: visible;
                    // }

                    &>span {
                        font-style: normal;
                    }

                    &.title-front {
                        // 이미지보다 앞쪽의 타이틀                     
                        z-index: 4;
                        animation: fade-up 3s ease-in-out 1.5s 1 alternate both;


                    }

                    &.title-back {
                        // 이미지보다 뒤쪽의 타이틀
                        // left: 52%;
                        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
                        // opacity: 0.1;
                        position: absolute;
                        top: 10%;
                        z-index: 1;
                        animation: fade-up 3s ease-in-out 2s 1 alternate both;
                        color: transparent;
                        // stroke: 1px solid rgba(255, 255, 255, 0.5);
                    }

                }



                &>h2 {
                    // 서브 타이틀
                    font-size: 0.2em;
                    font-weight: 600;
                    letter-spacing: 1em;
                    transform: translateY(-10px);
                    // position: absolute;
                    // z-index: 4;
                    // top: 65%;
                    // left: 50%;
                    // transform: translateX(-50%) translateY(0%);
                    animation: fade-up 5s ease-in-out 2.5s 1 alternate both;
                }

            }
        }



    }
}

// main end

// about me start
#about-me {
    & div.con {
        &>div.text-box {
            &>.pr {
                line-height: 1.6em;
                font-size: 3em;

                &>.bold {
                    font-size: 2em;
                }
            }

            &>div.introduction {
                margin-top: 30px;

                font-weight: 300;

                &>p {
                    font-size: 1.6em;
                    margin-bottom: 30px;
                    line-height: 1.8em;
                    opacity: 0;
                    transform: translateY(30px);
                    transition: opacity 0.3s, transform 0.3s;

                    &>span {
                        color: $point-color-blue;
                    }

                    &:nth-of-type(2) {
                        margin-bottom: 50px;
                    }
                }

                &>div.link-box {
                    margin-bottom: 50px;
                    opacity: 0;
                    transition: opacity 0.3s 0s;

                    &>a {
                        @include link-btn($point-color-blue);
                    }
                }

                &>ul.career-list {
                    font-size: 1.4em;
                    opacity: 0;
                    transition: opacity 0.3s 0s;

                    &>li {
                        margin: 10px 0;
                        list-style: disc;

                        &::before {
                            display: inline-block;
                        }
                    }

                }
            }
        }
    }

    &.active {
        & div.con {
            &>div.text-box {
                &>div.introduction {
                    &>p {
                        animation: fade-up-transform 3s ease-in-out 0s 1 alternate backwards;
                        opacity: 1;
                        transform: translateY(0px);

                        &:nth-child(2) {
                            animation-delay: 0.7s;
                        }


                    }

                    &>div.link-box {
                        opacity: 1;
                        transition: opacity 0.3s 2s;
                    }

                    &>ul.career-list {
                        opacity: 1;
                        transition: opacity 0.5s 2.5s;
                    }
                }
            }
        }
    }
}



// about me end

// skills start
#skills {
    & div.con {
        &>div.text-box {
            margin-top: 50px;

            // margin-right: 150px;
            &>p {
                font-weight: 600;
                font-size: 3.4em;
                line-height: 1.3em;
                // margin-bottom: 50px;
                margin-right: 120px;

                &>.icon {
                    font-size: 1.3em;
                    margin-top: 20px;
                    animation: icon-rotate 0.7s ease-in-out 0s infinite alternate both;
                }
            }

            &>ul.skill-description {
                font-size: 1.6em;
                font-weight: normal;
                margin-left: 35px;
                opacity: 0;
                transform: translateY(30px);
                transition: opacity 0.5s, transform 0.5s;

                &>li {
                    margin: 30px 0;
                    position: relative;

                    &::before {
                        content: "⭐";
                        font-size: 1.3em;
                        display: inline-block;
                        margin-right: 5px;
                        position: absolute;
                        left: -35px;
                        top: 0;

                    }

                    &>a {
                        &:hover {
                            animation: up-down-ani 0.7s ease-in-out 0s infinite alternate both;
                        }
                    }

                    & span {
                        //  포인트 컬러
                        font-size: 1.25em;
                        color: $point-color-yellow;
                    }

                    &:nth-child(2n) {

                        // 짝수 리스트
                        &>span {
                            color: $point-color-blue;
                        }
                    }
                }

            }
        }

        &>div.skill-list {
            margin-top: 100px;
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 0.5s, transform 0.5s;

            &>ul.row {

                // margin: 50px 0;
                &>li.skill {
                    width: 40px;
                    margin: 0px 15px;

                    &>img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

    }


}

#skills.active {
    & div.con {
        &>div.text-box {
            &>ul.skill-description {
                animation: fade-up-transform 3s ease-in-out 0s 1 alternate backwards;
                opacity: 1;
                transform: translateY(0px);

            }
        }

        &>div.skill-list {
            animation: fade-up-transform 3s ease-in-out 0.8s 1 alternate backwards;
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@for $i from 1 through 12 {
    #skills {
        &.active {
            & div.con {
                &>div.skill-list {
                    &>ul.row {
                        &>li.skill {
                            &:nth-child(#{$i}) {
                                animation: name duration timing-function delay iteration-count direction fill-mode;
                                animation: icon-jump 0.4s ease-out #{$i + 0.8}s 1 both;
                            }
                        }
                    }

                }
            }
        }
    }
}

// skills end

// work start

#work {

    & .con {
        // position: absolute;
        position: relative;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        margin-bottom: 10px;

        & div.work-wrap {
            & .work {
                &>.num {
                    font-size: 2em;
                    font-weight: 700;
                    padding-bottom: 7px;
                    margin-bottom: 30px;
                    position: relative;

                    &::after {
                        content: "";
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: block;
                        position: absolute;
                        width: 30px;
                        height: 1px;
                        background-color: #fff;
                    }
                }

                &>div.img-box {
                    max-width: 500px;
                    padding: 20px;
                    margin-left: 30px;
                    display: flex;
                    align-items: center;
                    animation: up-down-ani 1.5s ease-in-out 2s infinite alternate both;
                }

                &>div.text-box {
                    margin-left: 70px;
                    padding-right: 20px;

                    &>.title-con {
                        align-items: end;

                        &>h3.site-title {
                            font-size: 4em;
                            font-weight: 700;
                            font-style: italic;
                            // margin-right: 20px;
                            line-height: 1.3em;
                        }

                        &>.sub-title {
                            font-size: 1.8em;
                            font-weight: 400;
                            margin: 15px 0;
                        }
                    }

                    &>.tag-list {
                        margin: 20px 0 35px 0;

                        &>li {
                            display: inline-block;
                            font-size: 1.3em;
                            font-weight: 700;
                            padding: 4px 10px;
                            margin-right: 10px;
                            border-radius: 6px;
                            border: 1px solid #fff;
                            opacity: 0.7;
                            // color: #030303;

                        }
                    }

                    &>p {

                        font-size: 1.6em;
                        line-height: 1.8em;
                    }

                    &>.link-box {
                        margin: 50px 0;

                        &>a {
                            @include link-btn($point-color-yellow, 20px);


                            &:nth-child(2n) {
                                @include link-btn($point-color-blue, 20px);
                                // background-color: $point-color-blue;\

                            }
                        }

                    }
                }
            }

        }

        & .fp-controlArrow {
            opacity: 0.3;
            transition: opacity 0.5s;

            &:hover {
                opacity: 1;
            }

            &.fp-prev {
                left: -15px;
                border-width: 20px 14px 20px 0;
                animation: prev-ani 0.7s ease-in-out 0s infinite alternate both;
            }

            &.fp-next {
                right: -15px;
                border-width: 20px 0 20px 14px;
                animation: next-ani 0.7s ease-in-out 0s infinite alternate both;
            }
        }

        // & > ul.site-list{

        //     & > li {
        //         & > div.img-box{
        //             max-width: 500px;
        //             padding: 20px;
        //             margin-left: 30px;
        //         }

        //         & > div.text-box{
        //             margin-left: 100px;

        //             & > .title-con{
        //                 align-items: end;                       
        //                 & > h3.site-title{
        //                     font-size: 4em;
        //                     font-weight: 700;
        //                     font-style: italic;
        //                     // margin-right: 20px;
        //                 }

        //                 & > .sub-title{
        //                     font-size: 1.8em;
        //                     font-weight: 400;   
        //                     margin: 15px 0;                        
        //                 }
        //             }

        //             & > .tag-list{    
        //                 margin: 35px 0 35px 0;                    
        //                 & > li{
        //                     display: inline-block;
        //                     font-size: 1.3em;    
        //                     font-weight: 700;                       
        //                     padding: 4px 10px;
        //                     margin-right: 10px;
        //                     border-radius: 6px;
        //                     border: 1px solid #fff;
        //                     opacity: 0.7;
        //                     // color: #030303;

        //                 }
        //             }

        //             & > p{

        //                 font-size: 1.4em;
        //             }

        //             & > .link-box{
        //                 margin: 50px 0;
        //                 & > a{
        //                 width: 150px;
        //                 height: 40px;
        //                 font-size: 1.6em;
        //                 font-weight: 900;
        //                 margin-right: 20px;      
        //                 border: 2px solid $point-color-pink; 
        //                 color: $point-color-pink;
        //                 border-radius: 7px;                 
        //                 // background-color: $point-color-pink;
        //                 color: $point-color-pink;
        //                 // color: #030303;
        //                 transform: scale(1);
        //                 transition: transform 0.3s, background 0.3s, color 0.3s;

        //                 &:nth-child(2n){
        //                 border: 2px solid $point-color-blue; 
        //                 color: $point-color-blue;
        //                 // background-color: $point-color-blue;\
        //                 &:hover{                      
        //                     background-color: $point-color-blue;
        //                 }
        //             }

        //                 &:hover{
        //                     transform: scale(0.9);
        //                     color: #030303;
        //                     background-color: $point-color-pink;
        //                 }
        //                 }

        //             }
        //         }
        //     }


        // }
    }

    &.active {
        & .con {
            &>ul.site-list {
                animation: fade-up-transform 3s ease-in-out 0s 1 alternate both;
            }
        }
    }
}

// work end
// design start

#design {

    // min-height: 100vh;
    & div.con {
        &>ul.gallery {
            flex-wrap: wrap;

            &>li {
                width: 225px;
                height: 225px;
                border: 1px solid rgba(255, 255, 255, 0.4);
                margin: 20px 20px;
                position: relative;
                overflow: hidden;
                transform: scale(0);
                transition: transform 0.5s;

                &>a {
                    width: 100%;
                    height: 100%;
                }

                & img {
                    transition: transform 0.3s;
                }

                &::after {
                    position: absolute;
                    display: block;
                    padding: 20px;
                    box-sizing: border-box;
                    content: '';
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    background: rgba(0, 0, 0, 0);
                    top: 0;
                    left: 0;
                    transition: background-color 0.3s;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5em;
                    text-align: center;
                    word-break: keep-all;
                    overflow: hidden;
                    pointer-events: none;
                }

                &:hover {
                    &::after {
                        content: attr(data-gallery-title);
                        background: rgba(0, 0, 0, 0.9);

                    }

                    & img {
                        transform: scale(1.2);
                    }
                }
            }
        }

        &>p {
            margin-top: 50px;
            font-size: 2.5em;
            text-align: center;

            &>span {
                font-size: 1.1em;
                display: inline-block;
                transform: rotate(30deg);
                transform-origin: bottom;
                animation: icon-rotate2 0.7s ease-in-out 0s infinite alternate both;

            }
        }
    }

    &.active {
        & div.con {
            &>ul.gallery {
                animation: up-down-ani 2s ease-in-out 2s infinite alternate both;

                &>li {
                    transform: scale(1);
                }
            }
        }
    }
}

@for $i from 1 through 8 {
    #design.active {
        & div.con {
            &>ul.gallery {
                &>li {
                    &:nth-child(#{$i}) {
                        animation: gallery-ani 0.3s ease-in-out #{0.15 * $i}s 1 backwards;
                    }
                }
            }
        }
    }
}

// design end
// contact start
#contact {
    & div.con {
        &>div.text-box {
            &>p {
                font-size: 1.6em;
                margin-bottom: 20px;
                font-weight: 200;
                line-height: 1.8em;


                &:first-child {
                    font-size: 3.6em;
                    line-height: 1.2em;
                    font-weight: 700;
                    font-style: italic;
                    margin-bottom: 50px;
                }

                &:nth-of-type(2),
                &:nth-of-type(3) {
                    opacity: 0;
                    transform: translateY(30px);
                    transition: opacity 0.3s, transform 0.3s;
                }

                &>span.bold {
                    color: $point-color-blue;

                    &:nth-of-type(2) {
                        color: $point-color-yellow;
                    }
                }
            }

            &>div.link-box {
                // link btn
                margin-top: 70px;

                &>a {
                    @include link-btn($point-color-yellow, 20px);

                    opacity: 0;
                    transition: opacity 0.3s 0s;



                    &:nth-child(2) {
                        @include link-btn($point-color-blue, 20px);
                    }

                    &>i {
                        margin-right: 10px;
                    }
                }


            }
        }


    }

    &.active {
        & div.con {
            &>div.text-box {
                &>p {


                    &:nth-of-type(2) {
                        animation: fade-up-transform 3s ease-in-out 0s 1 alternate backwards;
                        opacity: 1;
                        transform: translateY(0px);
                    }

                    &:nth-of-type(3) {
                        animation: fade-up-transform 3s ease-in-out 0.7s 1 alternate backwards;
                        opacity: 1;
                        transform: translateY(0px);
                    }

                }

                &>div.link-box {

                    &>a {
                        opacity: 1;

                        @for $i from 1 through 3 {
                            &:nth-child(#{$i}) {
                                transition: opacity 0.3s #{2 + $i * 0.2}s;
                            }

                        }
                    }

                }
            }
        }
    }
}

// contact end
// footer start

footer {
    margin-top: 100px;
    padding: 100px 0;

    border-top: 1px solid rgba(255, 255, 255, 0.2);

    & div.text-box {
        font-size: 1.6em;
        line-height: 1.8em;
        text-align: center;
        color: rgba(255, 255, 255, 0.6);


    }
}

// footer end

// responsive start


@media(max-width: 1200px) {
    $max-width: 768px;

    .con {
        max-width: $max-width;
        padding-left: 50px;
        padding-right: 50px;
        //    padding-top: 200px !important;
        //    padding-bottom: 200px !important;
    }

    // section{
    //     margin: 100px 0;
    // }
}

@media(max-width: 1080px) {
    #main {
        &>div.fp-tableCell {

            & div.con {

                &>div.main-img {
                    min-width: 480px;
                }

                &>div.title {

                    font-size: 6em;
                    letter-spacing: 0.07em;

                    // & > h1{

                    //     top: 50%;
                    //     left: 47%;
                    //     transform: translateX(-50%) translateY(0%);  

                    //     &.title-front{               
                    //     // 이미지보다 앞쪽의 타이틀

                    //     }
                    //     &.title-back{
                    //         // 이미지보다 뒤쪽의 타이틀
                    //         left: 52%;

                    //     }

                    // }



                    // & > h2{
                    //     // 서브 타이틀
                    //     font-size: 0.19em;
                    //     letter-spacing: 1.5em;
                    //     top: 63%;
                    //     left: 50%;
                    //     transform: translateX(-50%) translateY(0%);  
                    // }

                }
            }
        }
    }
}


@media(max-width: 1024px) and (min-width: 769px) {
    // and (orientation: portrait) 
    // iPad Pro

    // skill start
    #skills {
        & div.con {
            &>div.text-box {
                flex-direction: column;

                &>p {
                    align-self: flex-start;
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }
        }
    }

    // skill end

    // work start
    #work {
        & .con {
            & div.work-wrap {
                & .work {
                    flex-direction: column;
                    align-items: center;

                    &>div.img-box {
                        margin-left: 0;
                    }

                    &>div.text-box {
                        margin-left: 0;
                        margin-top: 50px;

                        &>p {
                            font-size: 1.8em;
                            text-align: center;
                        }

                        &>.tag-list {
                            margin: 30px 0 35px 0;
                            display: flex;
                            justify-content: center;
                        }

                        &>.title-con {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }

                        &>.link-box {
                            margin-top: 80px;
                            justify-content: center;
                        }

                    }


                }
            }

            & .fp-controlArrow {
                top: 35%;

                &.fp-prev {
                    left: 50px;
                }

                &.fp-next {
                    right: 50px;
                }
            }
        }
    }

    //  work end

    // contact start

    #contact {
        & div.con {
            &>div.text-box {
                &>p {
                    font-size: 1.8em;

                    &:first-child {
                        margin-bottom: 70px;
                    }
                }
            }
        }
    }


    // contact end
}

@media(max-width:1000px) {

    // fullpage 해제
    section:not(#main) {
        margin: 300px 0;
    }

    .section-title {
        font-size: 7em;
        top: -50px;
        left: 30px;
        // transform-origin: 0% 100%;
        // transform: translateX(-50%);
        transform: rotate(90deg);
        transform-origin: 0% 100%;
        right: unset;
        bottom: unset;

        &::after {
            top: 30px;
            opacity: 0.7;
        }

        &::before {
            top: 60px;
            opacity: 0.4;
        }
    }

    #about-me {
        & .section-title {
            top: -100px;
        }
    }

    #work {
        & .section-title {
            left: 50%;
            top: -150px;
            transform: translateX(-50%);
        }
    }

    #design {
        & .section-title {
            top: -150px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    #contact {
        & .section-title {
            top: 70px;
        }
    }


}

@media(max-width: 900px) {
    #work {
        & .con {
            & div.work-wrap {
                & .work {
                    &>div.img-box {
                        max-width: 400px;
                    }

                    &>div.text-box {
                        margin-top: 30px;
                    }
                }
            }

            & .fp-controlArrow {
                top: 28%;

                &.fp-prev {
                    left: 120px;
                }

                &.fp-next {
                    right: 120px;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    // iPad, Tablet
    $max-width: 768px;

    .con {
        padding: 0 100px;
    }

    // about me start
    #about-me {
        & div.con {
            &>div.text-box {

                &>.pr {
                    font-size: 2.9em;
                    line-height: 1.4em;

                    &>.bold {
                        font-size: 1.5em;
                    }
                }

                &>div.introduction {
                    &>p {
                        font-size: 1.5em;
                    }

                    &>ul.career-list {
                        font-size: 1.3em;
                    }

                    &>div.link-box {
                        margin-bottom: 70px;
                    }
                }
            }
        }
    }

    // about-me end

    // skill start
    #skills {
        & div.con {
            &>div.text-box {
                flex-direction: column;

                &>p {
                    // big title
                    margin-right: 0px;
                    align-self: flex-start;
                    margin-bottom: 50px;
                }
            }

            &>div.skill-list {
                margin-top: 70px;

                &>ul.row {
                    flex-wrap: wrap;

                    &>li.skill {
                        margin: 15px 15px;
                        flex-basis: 10%;
                    }
                }
            }
        }
    }

    // skill end

    // work start

    #work {
        & .con {
            & div.work-wrap {
                & .work {
                    flex-direction: column;
                    align-items: center;

                    &>div.img-box {
                        // work image
                        max-width: 400px;
                        margin-left: 0;
                    }

                    &>div.text-box {
                        margin-top: 30px;


                    }
                }
            }


            & .fp-controlArrow {
                // slide nav
                top: 25%;
                opacity: 0.6;

                &.fp-next {
                    right: 120px;
                }

                &.fp-prev {
                    left: 120px;
                }

            }
        }
    }

    // work end
    // design start
    #design {
        & div.con {
            // padding-top: 200px;
            // padding-bottom: 200px;

            &>ul.gallery {
                order: 1;

                &>li {
                    border: 1px solid rgba(255, 255, 255, 0.6);
                }
            }

            &>p {
                order: 0;
                margin: 0 0 70px 0;
                font-size: 3em;
            }
        }

    }

    // design end
    // footer start

    footer {
        & div.text-box {
            font-size: 1.4em;
            line-height: 1.6em;

            &>span.copy {
                display: inline-block;
                margin-top: 10px;
            }
        }
    }

    // footer end
}

@media(max-width: 700px) {
    #work {
        &.fp-section{
            height: auto !important;
        }
        
        & .con {
            margin-bottom: 0;

            & div.work-wrap {
                & .work {
                    &>div.img-box {
                        // work image
                        max-width: 300px;
                        margin-left: 0;
                        padding: 0;
                    }

                    &>div.text-box {
                        // work description
                        margin-left: 0;
                        padding-right: 0;

                        &>.tag-list {
                            // tag list
                            order: 2;
                            margin: 70px 0 0 0;
                            display: flex;
                            flex-wrap: wrap;

                            &>li {
                                margin: 0 10px 10px 0px;
                            }
                        }

                        &>p {
                            // site description
                            order: 1;
                        }

                        &>.title-con {
                            // title
                            text-align: center;

                            &>h3.site-title {
                                font-size: 3.2em;
                                margin-top: 15px;
                            }

                            &>.sub-title {
                                margin: 20px 0;
                                font-size: 1.6em;
                            }
                        }

                        &>.link-box {
                            // link btn
                            margin: 40px 0;
                            flex-direction: column;

                            &>a {
                                margin: 0 0 25px 0;
                                width: 180px;
                                height: 45px;

                                &:nth-child(2n) {
                                    margin-right: 0;
                                    width: 180px;
                                    height: 45px;
                                }
                            }
                        }
                    }
                }
            }

            & .fp-controlArrow {

                display: none;

            }

        }

        & .section-title {
            top: -100px;
        }


        & .fp-slidesContainer {
            width: 100% !important;
            transition: none !important;
            transform: none !important;
            position: static;
            float: none;

            &>.fp-slide {
                width: 100% !important;
                display: block;
                float: none;
                margin-bottom: 200px; 
            }
        }
    }
}

@media(max-width: 720px) {
    #main {
        &>div.fp-tableCell {

            & div.con {

                &>div.main-img {
                    min-width: 320px;
                }

                &>div.title {

                    font-size: 5em;
                    letter-spacing: 0.07em;


                    &>h2 {
                        // 서브 타이틀
                        font-size: 0.19em;
                        letter-spacing: 1.5em;

                    }

                }
            }
        }
    }
}

@media(min-width:501px) {
    .mb-s {
        display: none;
    }
}

@media(max-width: 500px) {
    // mobile size

    section:not(#main) {
        margin: 100px 0;
    }

    .mb-s {
        display: block;
    }

    .fp-section,
    .fp-tableCell {
        height: auto !important;
    }

    // html,body{
    //     font-size: 8px;
    // }

    // container
    .con {
        padding: 0 50px;
    }

    section {
        min-height: 100vh;
        padding: 125px 0;
    }

    // section title
    .section-title {


        position: relative;
        display: inline-block;
        font-size: 4em;
        top: 0px;
        // left: 50%;    
        left: 30px;
        bottom: unset;
        // transform: rotate(90deg);
        // transform: translateX(-50%);
        transform: none;

        transform-origin: left bottom;

        &::after {
            opacity: 0.7;
        }

        &::before {
            opacity: 0.4;
        }
    }

    // fullpage nav
    #fp-nav.fp-left {
        left: 10px;
    }

    #fp-nav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li a.active span,
    .fp-slidesNav ul li:hover a.active span {
        width: 6px;
        height: 6px;
        margin: -3px 0 0 -3px;
    }

    // header
    #main-header {
        padding: 20px;
        align-items: flex-start;

        &>div.logo {
            &>a {
                font-size: 0.8em;

            }
        }

        & > div.sns-btn{
            & > div.dot{
                display: flex;
                
            }
            & ul.sns {
                // sns menu
                flex-direction: column;
                // visibility: hidden;
                position: absolute;
                
                left: 50%;
                top: 27px;
                transform: translateX(-50%);
                // visibility: hidden;
                // transition:  visibillity 0s 0s;

                & > li{
                    margin: 3px 0;
                    transform: scale(0);
                    // opacity: 0;
                    transform-origin: center;
                    transition: transform 0.3s, opacity 0.3s;
                    & > a{
                        padding: 5px 0;
                    }
                }
                
            }

            &.active{
                & ul.sns{
                    visibility: visible;
                    transition: visibillity 0s 2s;
                    & > li{
                        transform: scale(1);
                        // opacity: 1;
                        @for $i from 1 through 3{

                                &:nth-child(#{$i}){
                                    animation: gallery-ani 0.3s ease-in-out #{0.15 * $i}s 1 backwards;
                                }
    
                                
                        }
                    }
                }
            }
        }

        
    }

    // main section start
    #main {
        &>div.fp-tableCell {

            & div.con {

                &>div.main-img {
                    min-width: 280px;
                }


                &>div.title {

                    font-size: 4em;
                    letter-spacing: 0.07em;



                    &>h2 {
                        // 서브 타이틀
                        font-size: 0.15em;
                        letter-spacing: 1.5em;

                    }

                }


            }
        }
    }

    // main section end


    // about me start
    #about-me {
        & div.con {
            &>div.text-box {

                &>.pr {
                    line-height: 1.25em;

                    &>.bold {
                        font-size: 1.4em;
                    }
                }

                &>div.introduction {
                    margin-top: 50px;
                    line-height: 2.6em;

                    &>p {
                        font-size: 1.5em;
                        margin-bottom: 40px;

                        &:nth-of-type(2) {
                            margin-bottom: 80px;
                        }
                    }

                    &>ul.career-list {
                        margin: 120px 0px 0px 15px;
                        // margin-top: 150px;
                    }
                }

            }
        }


    }

    // about me end

    // skill start

    #skills {
        & div.con {
            &>div.text-box {

                &>p {
                    font-size: 3em;
                }

                &>ul.skill-description {
                    font-size: 1.4em;

                    &>li {
                        margin: 40px 0;

                        &>span {
                            font-size: 1.1em;
                        }
                    }
                }


            }

            &>div.skill-list {
                &>ul.row {

                    &>li.skill {
                        flex-basis: auto;
                    }
                }
            }
        }

        & .section-title {
            top: -50px;
        }
    }

    // skill end

    // work start
    #work {
    
        & .con {
         

            & div.work-wrap {
                & .work {
                    &>div.img-box {
                        // work image
                        max-width: 250px;
                    }

                    &>div.text-box {
                        // work description

                        & > p{
                            text-align: center;
                        }
                        
                        &>.title-con {
                            // title
                            &>h3.site-title {
                                font-size: 2.8em;
                                margin-top: 15px;
                            }
                            &>.sub-title {
                                margin: 15px 0;
                                font-size: 1.4em;
                            }
                        }

                        &>.link-box {
                            // link btn
                            margin: 40px 0;

                            &>a {
                                margin: 0 0 25px 0;
                                width: 180px;
                                height: 45px;

                                &:nth-child(2n) {
                                    margin-right: 0;
                                    width: 180px;
                                    height: 45px;
                                }
                            }
                        }
                    }
                }
            }

            & .fp-controlArrow {

                display: none;

            }

        }

        & .section-title {
            top: -100px;
        }


        & .fp-slidesContainer {
            width: 100% !important;
            transition: none !important;
            transform: none !important;
            position: static;
            float: none;

            &>.fp-slide {
                width: 100% !important;
                display: block;
                float: none;
                margin-bottom: 250px; 
            }
        }
    }

    // work end

    // design start
    #design {
        & div.con {

            &>ul.gallery {


                &>li {
                    
                    width: 300px;
                    height: 300px;
                    margin: 30px 20px;

                    & img {
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &::after {
                        // gallery image title
                        font-size: 1.8em;
                    }
                }
            }

            &>p {
                font-size: 2em;
                margin: 0 0 50px 0;
            }
        }

        & .section-title {
            top: -100px;
        }
    }

    // design end

    // contact start

    #contact {
        & div.con {
            &>div.text-box {
                &>p {
                    margin-bottom: 30px;

                    &:first-child {
                        font-size: 2.5em;
                        margin-bottom: 70px;
                    }
                }

                &>div.link-box {
                    margin-top: 100px;
                    flex-direction: column;

                    &>a {
                        margin: 0 0 30px 0;
                        width: 180px;
                        height: 45px;

                        &:nth-child(2n) {
                            margin-right: 0;
                            width: 180px;
                            height: 45px;
                        }
                    }
                }
            }
        }

        & .section-title {
            top: -100px;
        }
    }

    // contact end
    // footer start

    footer {
        & div.text-box {
            font-size: 1.2em;
        }
    }

    // footer end


}


@media(max-width: 450px) {
    #main {
        &>div.fp-tableCell {

            & div.con {

                &>div.main-img {
                    min-width: 250px;
                }


                &>div.title {

                    font-size: 3.5em;
                    letter-spacing: 0.07em;

                    // & > h1{

                    //     top: 50%;
                    //     left: 47%;
                    //     transform: translateX(-50%) translateY(0%);  

                    //     &.title-front{               
                    //     // 이미지보다 앞쪽의 타이틀

                    //     }
                    //     &.title-back{
                    //         // 이미지보다 뒤쪽의 타이틀
                    //         left: 52%;

                    //     }

                    // }



                    &>h2 {
                        // 서브 타이틀
                        font-size: 0.15em;
                        letter-spacing: 1.5em;
                        // top: 63%;
                        // left: 50%;
                        // transform: translateX(-50%) translateY(0%);  
                    }

                }


            }
        }
    }

    #design {
        & div.con {

            &>ul.gallery {
                &>li {
                    
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

@media(min-width: 401px) {
    .mb-xs {
        display: none;
    }
}

@media(max-width: 400px) {

    // mobile xs
    .mb-xs {
        display: block;
    }

    .con {
        padding: 0 35px;
    }

    #design {
        & div.con {

            &>ul.gallery {
                &>li {
                    margin: 18px 20px;
                    width: 180px;
                    height: 180px;
                }
            }
        }
    }
}


// responsive end