@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit; }

a,
img {
  display: block; }

@-webkit-keyframes main-ani {
  0% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@keyframes main-ani {
  0% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    margin-top: 30px; }
  20% {
    opacity: 0;
    margin-top: 30px; }
  40% {
    opacity: 1;
    margin-top: 0px; }
  100% {
    opacity: 1;
    margin-top: 0px; } }
@keyframes fade-up {
  0% {
    opacity: 0;
    margin-top: 30px; }
  20% {
    opacity: 0;
    margin-top: 30px; }
  40% {
    opacity: 1;
    margin-top: 0px; }
  100% {
    opacity: 1;
    margin-top: 0px; } }
@-webkit-keyframes fade-up-transform {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  40% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
@keyframes fade-up-transform {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  40% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
@-webkit-keyframes icon-rotate {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); } }
@keyframes icon-rotate {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); } }
@-webkit-keyframes icon-jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes icon-jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.con {
  max-width: 1200px;
  margin: 0 auto; }

.img-box img {
  width: 100%; }

.icon {
  display: inline-block; }

.section-title {
  font-weight: 900;
  font-size: 12em;
  font-style: italic;
  position: absolute;
  right: 50px;
  bottom: 30px;
  opacity: 0.5;
  color: transparent;
  -webkit-text-stroke: 1px #fff; }
  .section-title::after {
    content: attr(data-section-title);
    display: block;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    top: -100px;
    opacity: 0.4; }
  .section-title::before {
    content: attr(data-section-title);
    display: block;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    top: -200px;
    opacity: 0.3; }

.bold {
  font-weight: bold; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-jc-a {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-jc-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-1-0-0 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0; }

.no-drag {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html,
body {
  font-size: 10px;
  font-family: 'Open Sans', 'Noto Sans CJK KR', sans-serif;
  background: #030303;
  color: #F5F5F5; }

#main-header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 40px 50px;
  color: #fff;
  font-size: 2em; }
  #main-header > div.logo {
    font-weight: 900; }
  #main-header > ul.sns > li > a {
    font-size: 0.8em;
    padding: 0 10px;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    #main-header > ul.sns > li > a:hover {
      opacity: 1; }

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  overflow: hidden; }

#main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }
  #main > div.fp-tableCell div.con {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-animation: main-ani 1s ease-in-out 0.5s 1 alternate both;
            animation: main-ani 1s ease-in-out 0.5s 1 alternate both; }
    #main > div.fp-tableCell div.con > div.main-img {
      position: relative;
      width: 30%;
      min-width: 600px;
      max-width: 600px;
      height: auto;
      z-index: 3;
      opacity: 1;
      -webkit-transition: min-width 0.3s, opacity 0.5s;
      transition: min-width 0.3s, opacity 0.5s; }
      #main > div.fp-tableCell div.con > div.main-img:hover {
        opacity: 0.4; }
      #main > div.fp-tableCell div.con > div.main-img > img {
        position: relative; }
    #main > div.fp-tableCell div.con > div.title {
      font-size: 7.5em;
      letter-spacing: 0.18em;
      font-style: italic;
      color: #fff;
      white-space: nowrap;
      opacity: 1;
      -webkit-transition: font-size 0.3s, opacity 0.5s;
      transition: font-size 0.3s, opacity 0.5s;
      position: absolute;
      top: 60%;
      z-index: 5; }
      #main > div.fp-tableCell div.con > div.title > h1 {
        font-weight: 900; }
        #main > div.fp-tableCell div.con > div.title > h1 > span {
          font-style: normal; }
        #main > div.fp-tableCell div.con > div.title > h1.title-front {
          z-index: 4;
          -webkit-animation: fade-up 3s ease-in-out 1.5s 1 alternate both;
                  animation: fade-up 3s ease-in-out 1.5s 1 alternate both; }
        #main > div.fp-tableCell div.con > div.title > h1.title-back {
          -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
          position: absolute;
          top: 10%;
          z-index: 1;
          -webkit-animation: fade-up 3s ease-in-out 2s 1 alternate both;
                  animation: fade-up 3s ease-in-out 2s 1 alternate both;
          color: transparent; }
      #main > div.fp-tableCell div.con > div.title > h2 {
        font-size: 0.2em;
        font-weight: 600;
        letter-spacing: 1em;
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        -webkit-animation: fade-up 5s ease-in-out 2.5s 1 alternate both;
                animation: fade-up 5s ease-in-out 2.5s 1 alternate both; }

#skills div.con > div.text-box {
  margin-top: 50px; }
  #skills div.con > div.text-box > p {
    font-weight: 600;
    font-size: 3.6em;
    line-height: 1.3em;
    margin-right: 120px; }
    #skills div.con > div.text-box > p > .icon {
      font-size: 1.3em;
      margin-top: 20px;
      -webkit-animation: icon-rotate 0.7s ease-in-out 0s infinite alternate both;
              animation: icon-rotate 0.7s ease-in-out 0s infinite alternate both; }
  #skills div.con > div.text-box > ul.skill-description {
    font-size: 1.4em;
    font-weight: normal;
    margin-left: 35px; }
    #skills div.con > div.text-box > ul.skill-description > li {
      margin: 30px 0;
      position: relative; }
      #skills div.con > div.text-box > ul.skill-description > li::before {
        content: "⭐";
        font-size: 1.3em;
        display: inline-block;
        margin-right: 5px;
        position: absolute;
        left: -35px;
        top: 0; }
      #skills div.con > div.text-box > ul.skill-description > li > span {
        font-size: 1.25em;
        color: #FF4996; }
      #skills div.con > div.text-box > ul.skill-description > li:nth-child(2n) > span {
        color: #49FFA8; }
#skills div.con > div.skill-list {
  margin-top: 100px; }
  #skills div.con > div.skill-list > ul.row > li.skill {
    width: 40px;
    margin: 0px 15px; }
    #skills div.con > div.skill-list > ul.row > li.skill > img {
      width: 100%;
      height: auto; }

#skills.active div.con > div.text-box > ul.skill-description {
  -webkit-animation: fade-up-transform 3s ease-in-out 0s 1 alternate both;
          animation: fade-up-transform 3s ease-in-out 0s 1 alternate both; }
#skills.active div.con > div.skill-list {
  -webkit-animation: fade-up-transform 3s ease-in-out 0.8s 1 alternate both;
          animation: fade-up-transform 3s ease-in-out 0.8s 1 alternate both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(1) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 1.8s 1 both;
          animation: icon-jump 0.4s ease-out 1.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(2) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 2.8s 1 both;
          animation: icon-jump 0.4s ease-out 2.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(3) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 3.8s 1 both;
          animation: icon-jump 0.4s ease-out 3.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(4) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 4.8s 1 both;
          animation: icon-jump 0.4s ease-out 4.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(5) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 5.8s 1 both;
          animation: icon-jump 0.4s ease-out 5.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(6) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 6.8s 1 both;
          animation: icon-jump 0.4s ease-out 6.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(7) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 7.8s 1 both;
          animation: icon-jump 0.4s ease-out 7.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(8) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 8.8s 1 both;
          animation: icon-jump 0.4s ease-out 8.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(9) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 9.8s 1 both;
          animation: icon-jump 0.4s ease-out 9.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(10) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 10.8s 1 both;
          animation: icon-jump 0.4s ease-out 10.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(11) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 11.8s 1 both;
          animation: icon-jump 0.4s ease-out 11.8s 1 both; }

#skills.active div.con > div.skill-list > ul.row > li.skill:nth-child(12) {
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: icon-jump 0.4s ease-out 12.8s 1 both;
          animation: icon-jump 0.4s ease-out 12.8s 1 both; }

@media (max-width: 1080px) {
  #main > div.fp-tableCell div.con > div.main-img {
    min-width: 480px; }
  #main > div.fp-tableCell div.con > div.title {
    font-size: 6em;
    letter-spacing: 0.07em; } }
@media (max-width: 720px) {
  #main > div.fp-tableCell div.con > div.main-img {
    min-width: 320px; }
  #main > div.fp-tableCell div.con > div.title {
    font-size: 5em;
    letter-spacing: 0.07em; }
    #main > div.fp-tableCell div.con > div.title > h2 {
      font-size: 0.19em;
      letter-spacing: 1.5em; } }
@media (max-width: 500px) {
  #main > div.fp-tableCell div.con > div.main-img {
    min-width: 280px; }
  #main > div.fp-tableCell div.con > div.title {
    font-size: 4em;
    letter-spacing: 0.07em; }
    #main > div.fp-tableCell div.con > div.title > h2 {
      font-size: 0.15em;
      letter-spacing: 1.5em; } }
@media (max-width: 450px) {
  #main > div.fp-tableCell div.con > div.main-img {
    min-width: 250px; }
  #main > div.fp-tableCell div.con > div.title {
    font-size: 3.5em;
    letter-spacing: 0.07em; }
    #main > div.fp-tableCell div.con > div.title > h2 {
      font-size: 0.15em;
      letter-spacing: 1.5em; } }

/*# sourceMappingURL=style.css.map */